[submodule "plugins/modules"]
	path = plugins/modules
	url = https://github.com/maveno-de/ansible-modules.git
	branch = dev
[submodule "roles/node"]
	path = roles/node
	url = https://github.com/maveno-de/forks_node.git
	branch = dev
[submodule "roles/utilities"]
	path = roles/utilities
	url = https://github.com/maveno-de/forks_utilities.git
	branch = dev
[submodule "roles/tunnel"]
	path = roles/tunnel
	url = https://github.com/maveno-de/forks_tunnel.git
	branch = dev
[submodule "roles/facts"]
	path = roles/facts
	url = https://github.com/maveno-de/forks_facts.git
	branch = dev
[submodule "roles/monero"]
	path = roles/monero
	url = https://github.com/maveno-de/forks_monero.git
	branch = dev
